<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getClothesServlet</servlet-name>
        <servlet-class>servlet.getClothesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>servlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveOrderServlet</servlet-name>
        <servlet-class>servlet.saveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>servlet.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>servlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusServlet</servlet-name>
        <servlet-class>servlet.changeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receivedOrderServlet</servlet-name>
        <servlet-class>servlet.receivedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusClothes</servlet-name>
        <servlet-class>servlet.changeStatusClothes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateClothesServlet</servlet-name>
        <servlet-class>servlet.updateClothesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addClothesServlet</servlet-name>
        <servlet-class>servlet.addClothesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getClothesServlet</servlet-name>
        <url-pattern>/getClothesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveOrderServlet</servlet-name>
        <url-pattern>/saveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusServlet</servlet-name>
        <url-pattern>/changeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receivedOrderServlet</servlet-name>
        <url-pattern>/receivedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusClothes</servlet-name>
        <url-pattern>/changeStatusClothes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateClothesServlet</servlet-name>
        <url-pattern>/updateClothesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClothesServlet</servlet-name>
        <url-pattern>/addClothesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainController</welcome-file>
    </welcome-file-list>
</web-app>
